[Unit]
Description=Check Arkive GitHub for cloud updates every 10 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
Unit=cv-cloud-update.service

[Install]
WantedBy=timers.target
